html{
    scroll-behavior: smooth;
}

body{
    padding: 0;
    margin: 0;
    /* width: 100%; */
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    overflow-x: hidden;
}

@media (max-width:650px){
    .article{
        flex-direction: column;
    }
}

h1{
    font-weight: bold;
    font-size: 50px;
}

@media (max-width:1024px) {
    h1{
        font-size: 35px;
    }
}

@media (max-width:768px) {
    h1{
        font-size: 30px;
    }
}

@media (max-width:1024px) {
    h2{
        font-size: 25px;
    }
}

@media (max-width:768px) {
    h2{
        font-size: 20px;
    }
}

header{
    display: flex;
    justify-content: space-between;
    justify-content: space-between;
    align-items: center;
    /* width: 150%; */
}

.logo{
    cursor: pointer;
}

@media (max-width:1024px) {
    .logo{
        width: 150px;
    }
}

header a{
    text-decoration: none;
    color: black;
    padding: 20px;
    font-size: 20px;
}

@media (max-width:1024px){
    header a{
        text-decoration: none;
        color: black;
        padding: 20px;
        font-size: 15px;
    }
}

@media (max-width:768px){
    header a{
        text-decoration: none;
        color: black;
        padding: 15px;
        font-size: 15px;
    }
}

.abus{
    background-color:rgb(95, 85, 160);
    display: flex;
    align-items: center;
    width: 158%;
}

.abus img{
    max-width: 500px;
}

@media (max-width:1024px){
    .abus img{
        max-width: 400px;
        margin-top: 50px;
    }
}

@media (max-width:768px){
    .abus img{
        max-width: 250px;
        margin-top: 135px;
    }
}

.article{
    color: white;
    font-family: cursive;
    padding: 0 auto 0;
    max-width: 500px;
    max-height: 500px;
    margin-left: 100px;
    margin-bottom: 100px;
}

@media (max-width:768px){
    .article{
        margin-left: 20px;
        margin-bottom: 50px;
    }
}

@media (max-width:768px) {
    .article p{
        font-size: 10px;
    }
}

@media (max-width:1024px) {
    .article p{
        font-size: 15px;
    }
}

.skills{
    display: flex;
    align-items: center;
    width: 158%;
}

.skills img{
    max-width: 500px;
}

@media (max-width:1024px) {
    .skills img{
        max-width: 400px;
    }
}

@media (max-width:768px) {
    .skills img{
        max-width: 250px;
    }
}

.txt{
    color: rgb(0, 0, 0);
    font-family: cursive;
    padding: 0 auto 0;
    max-width: 500px;
    max-height: 500px;
    margin-left: 100px;
    margin-bottom: 100px;    
}

@media (max-width:1024px) {
    .txt{
        font-size: 15px; 
    }
}

@media (max-width:768px) {
    .txt{
        font-size: 13px; 
        margin-left: 50px;
    }
}

.first{
    background-color:rgb(95, 85, 160);
    color: #fff;
}

.first img{
    max-width: 500px;
    margin-top: 50px;
}

@media (max-width:1024px) {
    .first img{
        max-width: 400px;
    }
}

@media (max-width:768px) {
    .first img{
        max-width: 300px;
    }
}

.text{
    text-align: center;
    padding: 0 auto 0;
    max-width: 500px;
    max-height: 500px;
    margin-left: 100px;
    margin-bottom: 100px;
}

@media (max-width:1024px) {
    .text{
        font-size: 15px; 
    }
    .text img{
        max-width: 150px;
    }
}

@media (max-width:768px) {
    .text{
        font-size: 13px; 
    }
    .text img{
        max-width: 100px;
    }
}

.sec{
    background-color: #fff;
}

.sec img{
    max-width: 700px;
}

@media (max-width:1024px) {
    .sec img{
        max-width: 500px;
    }
}

@media (max-width:768px) {
    .sec img{
        max-width: 400px;
    }
}

.saul{
    text-align: center;
    width: 500px;
}

@media (max-width:1024px) {
    .saul{
        font-size: 15px;
    }
}

@media (max-width:768px) {
    .saul{
        width: 350px;
    }
}

.saul h1, h2{
    text-align: center;
}

.saul img{
    max-width: 300px;
}

@media (max-width:1024px){
    .saul img{
        max-width: 150px;
    }
}

.third{
    background-color: rgb(95, 85, 160);
}

.tetx{
    color: #fff;
    text-align: center;
}

@media (max-width:1024px) {
    .tetx{
        font-size: 15px;
        margin-left: 150px;
    }
}

@media (max-width:1024px) {
    .tetx{
        font-size: 13px;
        margin-left: 100px;
    }
}

.third img{
    max-width: 500px;
}

@media (max-width:1024px) {
    .third img{
        max-width: 300px;
    }
}

@media (max-width:768px) {
    .third img{
        max-width: 200px;
    }
}

.fourth{
    background-color: #fff;
}

.fourth img{
    max-width: 600px;
}

@media (max-width:1024px) {
    .fourth img{
        max-width: 400px;
    }
}

@media (max-width:768px) {
    .fourth img{
        max-width: 300px;
    }
}

.tex{
    color: black;
    text-align: center;
    width: 600px;
}

@media (max-width:1024px) {
    .tex{
        font-size: 15px;
    }
}

@media (max-width:1024px) {
    .tex{
        font-size: 13px;
        width: 400px;
    }
}

.first, .sec, .third, .fourth{
    display: flex;
    align-items: center;
    width: 158%;
}

.contacts{
    width: 158%;
    background-color: rgb(95, 85, 160);
    color: #fff;
}

.contacts a{
    text-decoration: none;
    color: aquamarine;
}

.contacts a:hover{
    color: #fff;
    text-decoration: underline;
}

@media (max-width:1024px) {
    .contacts{
        font-size: 15px;
    }
    .contacts h1{
        margin-left: 30%;
    }
    .contacts h2{
        margin-left: -35%;
    }
}

footer{
    background-color: rgb(46, 45, 45);
    color: #fff;
    width: 158%;
}
